// Header - Minimal typographic navigation

header {
  padding: $space 0;
  border-bottom: 1px solid $gray-200;
  margin-bottom: $space * 2;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $accent;
    }

    h1 {
      float: none;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.02em;
      margin: 0;
    }
  }

  .navbar {
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    font-family: $font-family-display;
    font-weight: 700;
    font-size: 1.25rem;
    color: $black;
    padding: 0;
    margin-right: 0;

    &:hover {
      color: $accent;
    }
  }

  .navbar-nav {
    flex-direction: row;
    margin-top: 0;

    .nav-item {
      margin-left: 0;
    }

    .nav-link {
      padding: 0.25rem 0;
      margin: 0 0 0 1.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      border-bottom: 2px solid transparent;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        border-bottom-color: $black;
      }
    }
  }

  // Hamburger menu toggle button
  .navbar-toggler {
    border: 1px solid $gray-300;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    .navbar-toggler-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}

// Mobile adjustments - show toggler, style collapsed menu
@media (max-width: 767.98px) {
  header {
    .navbar {
      display: flex !important;
      flex-wrap: wrap !important;
    }

    // Force the toggler to be visible on mobile
    .navbar-toggler {
      display: flex !important;
      visibility: visible !important;
      opacity: 1 !important;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    .navbar-toggler-icon {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
    }

    .navbar-nav {
      flex-direction: column;
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $gray-200;
      width: 100%;

      .nav-link {
        margin: 0;
        padding: 0.5rem 0;
      }
    }
  }
}

// Ensure toggler is hidden on desktop
@media (min-width: 768px) {
  header .navbar-toggler {
    display: none !important;
  }
}
